<mat-sidenav-container class="sidenav-container">
  <mat-sidenav style="background-color: rgb(10, 10, 10);" #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'">
    <mat-toolbar style="color:white">Photography</mat-toolbar>
    <mat-nav-list>
      <a style="color:white" mat-list-item routerLink="/">Strona główna</a>
      <a style="color:white" mat-list-item routerLink="/register">Umów się</a>
      <a style="color:white" mat-list-item routerLink="/contact">Kontakt</a>
      <a style="color:white" mat-list-item (click)=onNavigate()>Facebook</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar style="background-color: rgb(10, 10, 10); color:white">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">list</mat-icon>
      </button>

      <span routerLink="/" style="cursor:pointer;">PAWEL ROGALSKI</span>
      <span *ngIf="(isHandset$ | async)=== false" style="width: 95%;"></span>
      <span routerLink="/" *ngIf="(isHandset$ | async)=== false" style="cursor: pointer; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;">Strona główna</span>
      <span *ngIf="(isHandset$ | async)=== false" style="width: 20px;"></span>
      <span routerLink="/register" *ngIf="(isHandset$ | async)=== false" style="cursor: pointer; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;">Umów się</span>
      <span *ngIf="(isHandset$ | async)=== false" style="width: 20px;"></span>
      <span routerLink="/aboutMe" *ngIf="(isHandset$ | async)=== false" style="cursor: pointer; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;">O mnie</span>
      <span *ngIf="(isHandset$ | async)=== false" style="width: 20px;"></span>
      <span routerLink="/contact" *ngIf="(isHandset$ | async)=== false" style="cursor: pointer; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;">Kontakt</span>
      <span *ngIf="(isHandset$ | async)=== false" style="width: 20px;"></span>
      <mat-icon *ngIf="(isHandset$ | async)=== false" (click)="onNavigate()"style="cursor: pointer;">facebook</mat-icon>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
