<mat-sidenav-container class="sidenav-container">
  <mat-sidenav style="background-color: rgb(10, 10, 10);" #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'">
    <mat-toolbar  routerLink="/" style="cursor: pointer; color:white">Photography</mat-toolbar>
    <mat-nav-list>
      <a style="color:white" mat-list-item routerLink="/register">Umów się</a>
      <a style="color:white" mat-list-item routerLink="/aboutMe">O mnie</a>
      <a style="color:white" mat-list-item routerLink="/contact">Kontakt</a>
      <a style="color:white" mat-list-item (click)=onNavigate()>Facebook</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar style="position:fixed; background-color: rgb(10, 10, 10); color:white; z-index: 10;">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">list</mat-icon>
      </button>

      <span routerLink="/" style="cursor:pointer;">PAWEL ROGALSKI</span>
      <!-- <span style="width: 15px;"></span>
      <mat-icon routerLink="/" style=" cursor: pointer;">camera_alt</mat-icon> -->
      <span routerLink="/register" *ngIf="(isHandset$ | async)=== false" style="position:fixed; right:230px; cursor: pointer; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;">Umów się</span>
      <span routerLink="/aboutMe" *ngIf="(isHandset$ | async)=== false" style="position:fixed; right:140px; cursor: pointer; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;">O mnie</span>
      <span routerLink="/contact" *ngIf="(isHandset$ | async)=== false" style="position:fixed; right:50px; cursor: pointer; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;">Kontakt</span>
      <mat-icon *ngIf="(isHandset$ | async)=== false" (click)="onNavigate()"style="position:fixed; right:10px; cursor: pointer;">facebook</mat-icon>
    </mat-toolbar>
    <ng-content style="z-index: 0;"></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
